registry "https://registry.yarnpkg.com"
network-timeout 600000
strict-ssl false
always-auth false
disable-self-update-check true
yarn-offline-mirror-pruning true
unsafe-disable-integrity-migration true
--install.no-lockfile false
--install.pure-lockfile true 