registry "https://registry.npmjs.org/"
always-auth false
strict-ssl true
network-timeout 600000
cache-folder "./.yarn-cache"
disable-self-update-check true
version-tag-prefix ""
version-git-tag false
save-prefix "" 